@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html[data-font="sans"] body {
  font-family: var(--font-geist-sans), sans-serif;
}

html[data-font="mono"] body {
  font-family: var(--font-geist-mono), monospace;
}

html[data-font="agro"] body {
  font-family: var(--font-agro), sans-serif;
}

html[data-font="chosun"] body {
  font-family: var(--font-chosun), sans-serif;
}

html[data-font="logy"] body {
  font-family: var(--font-logy), sans-serif !important;
}
